

.Header-Overall{
text-align: center;
padding: 30 0 30 0;
}
/* column section first section  */
.container {
    display: flex;
}
.column {
    flex: 1; /* Equal width columns */
    padding: 20px;
    box-sizing: border-box; /* Ensures padding is included in width */
}
.left {
    background-color: #dfdfdf;
}
.right {
    background-color: #ececec;
}

/* 2nd section of website full width */
.container-full {
    display: flex;
    background-color: #cecece;
    justify-content: start;

}
.Motherboard-Section {
    width: 100%;
    text-align: center;
}
.Motherboard-Heading {
    font-size: 2rem;
}

.list{
    padding: 5px;
}